<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Blog App</title>
  
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <img src="/static/images/Flask_Icon.png" alt="Flask_Icon.png"/ > 
        </div>
 
        <div class="jumbotron">
            <h1>Blog App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign Up</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
            <p>Click Below to Start the Process<p>
           <a class="button" href="{{ url_for('goyolo')}}">YOLO</a>
            </div>
        </div>

         
 
            
        </div>
 
        <footer class="footer">
            <p>&copy;etaman.com 2017</p>
        </footer>
 
    </div>
</body>
 
</html>
